@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-padrão: 'Sriracha';
    --fonte-titulo: 'Passion One';
    --cor0: black;
    --cor1: white; 
}

/*body {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left center;
    background-attachment: fixed;
}*/

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
    font-family: var(--fonte-titulo);
    margin-bottom: 200px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}

header > h1 {
    font-size: 3.5em;
}

header p a {
    color: white;
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte-padrão);
    font-size: 2em;
    margin: auto;
}

main > section {
    padding: 20px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section:nth-of-type(2) {
    background-image: url('imagens/background001.jpg');
    margin-bottom: 270px;
    margin-top: -50px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.596);
}

article.transparente {
    background-color: rgba(0, 0, 0, 0.384);
    display: inline-block;
    color: white;
    padding: 5px;
    margin-top: 130px;
}

section:nth-of-type(5) {
    background-image: url('imagens/background002.jpg');
    margin-bottom: 270px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.596);
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}